@import './variables.css';
html {
    background-color: var(--dark-blue);
    color: var(--white-pink);
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    overflow-y: auto;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

body {
    /* min-height: 100vh;*/
    min-height: 100vh;
    margin: 0px;
}

.vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    min-height: 100vh;
    width: 50%;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
}

.container {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.textbox {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--blue);
    background-color: var(--blue);
    padding: 10px 15px;
    min-height: 100px;
    height: auto;
    font-size: 18px;
    outline: none;
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    color: var(--white-pink);
    margin: 30px 0px;
    display: inline-block;
    word-break: break-all;
    white-space: pre-wrap;
    /* text-overflow: ellipsis; */
}

.textbox::placeholder {
    color: var(--placeholder)
}

input[type=button] {
    border-radius: 100px;
    border-width: 2px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 800;
    border-style: solid;
    border-color: var(--pink);
    background-color: var(--pink);
    width: 100%;
    color: var(--white-pink);
    outline: none;
}

input[type=button]:hover {
    border-color: var(--white-pink);
    background-color: var(--white-pink);
    color: var(--pink);
}